body{
    background-image: url("http://school298.spb.ru/images/100/DSC100164327.jpg");
}
h1{
    display: flex;
    justify-content: center;
    color: white;
    
}

#human{
    justify-content: left;
}

#computer{
    justify-content: right;
}
h2{
    color: white;
}#scores{
    display: flex;

}