body{
    background-image: url("http://school298.spb.ru/images/100/DSC100164327.jpg");
    background-size:cover;
}
h1{
    display: flex;
    justify-content: center;
    color: white;
    
}

#player1{
    justify-content: left;
}