body{
    background-image: url("http://school298.spb.ru/images/100/DSC100164327.jpg");
}
h1{
    display: flex;
    justify-content: center;
    color: white;
    
}

#human_score{
    display: flex;
    justify-content: left;
}

#computer_score{
    display: flex;
    justify-content: right;
}
h2{
    color: white;
}.scores{
    color: white;
    display: flex;
    justify-content: space-around;

}